/* GRID VIEW */
/* header */
.results-copy__container p {
    font-size: 16px;
    margin: 0;
}

.results-copy__container h3 {
    font-size: 30px;
    margin-top: 15px;
}

/* data container */
.results-data__container {
    margin-bottom: 30px;
}

.results-data__container .c51__container {
    justify-content: center;
}

.results-data__container p {
    font-weight: 500;
    margin: 0;
}

.results-data__container .c51-amount {
    font-size: 16px;
    color: green;
}

.results-data__container .c51-name {
    font-size: 20px;
    color: black;
}

.results-data__container .c51-description {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

/* GRID ROW */
.grid-row__container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;    
}

/* CARD */
.card__container {
    white-space: break-spaces;
}

.card__container .card__copy {
    font-size: 16px;
    font-weight: 500;
}

.card__container .card__copy p {
    margin: 0;
}

.card__container .card__copy .flipp-merchant {
    font-size: 15px;
    font-weight: 500;
}

.card__container .card__copy .flipp-name {
    font-size: 14px;
    font-weight: 400;
}

.card__container .card__copy .flipp-price {
    color: green;
}